/* IMPORT DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sarala:wght@400;700&display=swap');

/* RESET DE PRE-CONFIG */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    max-width: 100%;
    max-height: 100%;
}

/* INICIO NAVEGAÇÃO */
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

/* AÇÕES DO LINK */
a:visited{
    color: #3CB371;
}

.cabecalho-logo{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    gap: 40px;
}
.cabecalho-item{
    display: flex;
    flex-direction: row;
    gap: 400px;
}
.cabecalho-imagem{
    display: flex;
    height: 70px;
    width: 73px;
    margin: 0 auto;    
}
.cabecalho-item-pai-direita{
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 20px;    

}
.cabecalho-item-filho-direita{
    font-family: "Sarala", system-ui;
    font-weight: 700;
    text-decoration: none;
    color:rgb(235, 235, 180);
    font-size: 25px;
}
/* FIM NAVEGAÇÃO */

/* PRINCIPAL */
.principal {
    border-top: 0.4px solid #1a1817;
    display: flex;
    height: 100vh;
    gap: 30px;
    /* background-color: blue; */
}
.secao-principal{
    display: flex;
    flex-direction: column;    
    height: 0 auto;
    width: 60vw;
    /* background-color: yellow; */
}
.secao-principal-titulo{
    font-family: "Sarala", system-ui;
    font-weight: 700;
    padding: 10px;
    margin-top: 2cm;
    color: #3CB371;
    text-align: center;
    margin-bottom: 1cm;
    /* background-color: red; */
}
.secao-sobre{
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
    border-right: #1a1817 solid 0.4px;
    padding-right: 20px;
    padding-left: 20px;
    /* background-color: indigo; */
}
.secao-sobre p{
    font-family: "Righteous", system-ui;
    font-weight: 400;
    font-size: 14pt;
    padding-top: 30px;
    margin-left: 15px;
}
.secao-principal-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    /* background-color: saddlebrown; */
}
#secao-lateral-img{
    display: flex;
    height: 60vh;
    width: 30vw;
    justify-content: center;
    align-items: center;
}


/* MEDIA QUERY */
@media (max-width: 900px) {
    .cabecalho{
        display: none;
    }
   .principal {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: auto;       
    }
    .secao-principal{
        width: 100%;
        height: auto;
        
    }
    .secao-sobre{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .secao-principal-titulo{
        font-size: 30pt;
    }
    .secao-principal-lateral{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #secao-lateral-img{
        object-fit: fill;
        width: 70%;
        height: auto;
        border-radius: 10px;
    }   

}
@media (min-width: 901px) and (max-width: 1000px){
    .secao-principal-titulo{
        margin-bottom: 2cm;
    }
}

        /* FIM MEDIA QUERY */

/* INICIO RODAPE */
.rodape-principal{
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 188, 188);
    height: 20rem;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
}
.rodape-links{
    display: inline-flex;
    align-items: center;
    padding:15px;   
    height: 7rem;
    margin-top: 2cm;
    padding-top: 2rem;
}
.rodape-texto{
    font-family: "Roboto Mono", monospace;
    border-top: #1a1817 solid 0.4px;
    padding-top: 3rem;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 2cm;
}