/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* INICIO NAVEGAÇÃO */
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    background-color: black;   /*REMOVER*/
}
.cabecalho-logo{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    gap: 40px;
}
.cabecalho-item{
    display: flex;
    flex-direction: row;
    gap: 400px;
}
.cabecalho-imagem{
    display: flex;
    height: 70px;
    width: 73px;
    margin: 0 auto;    
}
.cabecalho-item-pai-direita{
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 20px;    

}
.cabecalho-intem-filho-direita{
    font-family: "Sarala", system-ui;
    font-weight: 700;
    text-decoration: none;
    color:rgb(235, 235, 180);
    font-size: 25px;
}