body{
    background-color: #363636;
}

h1,h2,h3{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    text-align: center;         
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    padding-top: 30px;
}
.inicio{
    text-align: center;
}

#menu_Principal{
    font-family: 'Courier New', Courier, monospace;
    align-items: center;            
}        
nav a:hover{                /*hover é o efeito ao passar o mouse*/
    font-size: 20pt;
    font-weight: bolder;
}
.card{
    margin-left: 260px;    
    margin-right: 0%;
    border: solid 1px;
    border-radius: 10px;
}
.card-body{
    border: solid 1px;
    border-radius: 10px;
}
hr{    
    border-width: 0; 
	height: 1px;
	border-top-width: 1px;
	   
}
#magia{
    border-radius: 10px;
    border-color: #0000CD;
    border-style: solid;
    padding-bottom: 10px;
    padding-left: 7px;
<<<<<<< HEAD
    margin: 2rem 1rem 2rem 0;
=======
    margin: 2rem 10rem 10rem 0;
}
article{
    margin-left: 10rem;
    margin-right: 10rem;
}
p{
    margin-left: 15px;
}
.negrito{
    font-weight: bolder;
>>>>>>> praticar
}