
        body{
            background-color: #363636;
        }
        #menu_dois{
            font-family: 'Courier New', Courier, monospace;
            align-items: center;            
        }
        nav{
            align-items: center;            
            margin-right: 350px;
            padding: 5px 5px 2px 5px;
            border-color: #0000CD;
            border-radius: 10px;
            border-style: solid;
        }
        nav li{
            list-style: none;
            display: inline;
            margin: 0 0 0 15px;
            margin-bottom: 10px;                        
        }
        nav a{            
            text-decoration:none;
            text-transform: uppercase;
            font-weight: bold;         
        }     
        nav a:hover{                /*hover é o efeito ao passar o mouse*/
            font-size: 20pt;
            font-weight: bolder;
        }
        article{
            background-color: #7FFFD4;
            margin-right: 200px;
            margin-left: 300px;
            padding-left: 100px;
            padding-right: 100px;
            padding-bottom: 2cm;
            padding-top: 2cm;
            border-style: solid;
            border-color: #0000CD;
            border-radius: 50px;
        }
        form{
            border-style: double;
            padding-top: 1cm;
            padding-left: 1cm;
            padding-bottom: 1cm;
        }
        label{
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
        }
        h3{
            font-weight: bold;
            text-align: center;
            padding-top: 0px;
            padding-bottom: 10px;
        }
        fieldset{
            margin-right: 4cm;            
        }